style
    include style.css
table(action='userlistingview' method='get' style="width:100%")
    tr
        th User
        th Password
        th Email
        th Age
        th ID
        th Edit/Remove
    each user in users
        tr
            td= user.name
            td= user.password
            td= user.email
            td= user.age
            td= user.id
            td
                a(href='/delete?id=' + user.id) Delete
                a(href='/editUser?id=' + user.id) Edit
